/***********************************************
 *
 *********** MastHead Styling
 *
 **********************************************/

/***************
 * MOBILE
 ***************/
  .site-header {

    .site-branding {
      .site-title {
        font-weight: 700;
        font-size: 2.7rem;
        line-height: 1.1852;
      }
      
      .site-description {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0.5em 0 0;
      }
    }

    .site-navigation {
      
    }
    .row {

    }
  }
 
/***************
 * TABLET
 ***************/
  @include media-breakpoint-up(md) {

  }

/***************
 * DESKTOP
 ***************/
  @include media-breakpoint-up(lg) {
    .site-header {
      .site-branding {

      }

      .site-navigation {
        .primary-menu,
        .social-menu,
        .sidebar,
        .login {
          margin-bottom: 2.7em;
        }


        .primary-menu,
        .social-menu {
          ul {
            margin: 0;
          }
        }

        .login {
          .user-controls {
            align-items: center;
          }
        }
      }
    }
  }