@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

$fa-font-path: '/assets/fonts';

$font-family-sans-serif:      'Noto Sans', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:        'Noto Serif', serif;
$headings-font-weight:        500;
$headings-line-height:        1.2;


small, .small {
  font-family:                $font-family-sans-serif;
}



